<div class="mainDiv"><br>
<h3  class="heading"><u>Update Information</u></h3><br>
<div class="bodyContent">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group" (mousemove)=m1()>
      <label for="name">Full Name</label>
      <input type="text" class="form-control" id="fullName" required [(ngModel)]="employee.fullName" name="fullName">
    
      <label for="name">Email Id</label>
      <input type="text" class="form-control" id="emailId" required [(ngModel)]="employee.emailId" name="emailId">
    
      <label for="name">Address</label>
      <input type="text" class="form-control" id="address" required [(ngModel)]="employee.address" name="address">
    
      <label for="name">Phone</label>
      <input type="dat" class="form-control" id="phone" required [(ngModel)]="employee.phone" name="phone">
    
      <label for="name">Room No</label>
      <input type="text" class="form-control" id="roomNo" required [(ngModel)]="employee.roomNo" name="roomNo">
    
      <label for="name">Number of Guests</label>
      <input type="number" class="form-control" id="guests" required [(ngModel)]="employee.guests" name="guests">
    
      <label for="name">Check In</label>
      <input type="date" class="form-control" id="checkIn" required [(ngModel)]="employee.checkIn" name="checkIn">
    
      <label for="name">Check Out</label>
      <input type="date" class="form-control" id="checkOut" required [(ngModel)]="employee.checkOut" name="checkOut">

      <label for="name"> Total Payment Bill</label>
      <input type="number" class="form-control" id="salary" required [(ngModel)]="employee.salary" name="salary">

      <label for="name"> Advance Payment </label>
      <input type="number" class="form-control" id="advance" required [(ngModel)]="employee.advance" name="advance">

      <label for="name"> Due Payment</label>
      <input type="number" class="form-control" id="due" required [(ngModel)]="due" name="due">
    <br>
      <button type="submit" class="btn bttn text-white">Submit</button>
    </div>
  </form>
</div>
</div>
