
<div class="container bg" padding btn btn primary >
    <div class="cnt container">
        <div class="elm container" (mousemove)=m1()>
            <img class="img" src="assets/images/businessClass.jpg">
            <button class="btn bn"> Luxury </button>
        </div>
        <div class="elm container">
            <img class="img" src="assets/images/economy.jpg">
            <button class="btn bn"> PREMIUM </button>
        </div>
    </div>

    <div class="cnt container">
        <div class="elm container">
            <img class="img" src="assets/images/Accessive.jpg">
            <button class="btn bn"> BUSINESS-CLASS </button>
        </div>
        <div class="elm container">
            <img class="img" src="assets/images/Family.jpg">
            <button class="btn bn"> ECONOMY </button>
        </div>
    </div>

</div>